body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-bar {
  height: 60px;
  display: flex;

  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  justify-content: space-between;
}

.header-bar-search {
  outline: none;
  align-self: center;
  border-color: #d3d3d366;
  border-radius: 5px;


  -webkit-appearance: none; 
  -moz-appearance: none; 
  border: 2px solid #eee;
  height: 70%;
}

.right-button-group {
  
}

.right-menu-button {
  background: white;
  color: rgba(0, 0, 0, 0.801);
  border: none;
  height: 100%;
  transition: background 0.3s ease-in-out;
}

.right-menu-button:hover {
  background-color: rgba(235, 235, 235, 0.925);
}

.button-fmt {
  font-weight: bolder;

}

.company-name {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: bold;
}

.stock-price {
  /* font-size: calc(1.375rem + 1.5vw); */
  font-size: calc(1.375rem + 1.5vw);
  font-weight: bold;
}

.ticker {
  display: inline-block;
  font-size: calc(1.375rem);
  font-weight: bold;
}

.dashboard-group {
  display: flex;
  width: 100%;
  padding-top: 45px;

  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
}

.watchlist-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.graph-period {
  display: flex;
}


.increase-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #66ddb8;
  display: inline-block;
}

.price-increase {
  color: #66ddb8;
}

.watchlist-header {
  display: flex;
  justify-content: space-between;

  border-bottom: solid #eeeeee 0.2rem;
}

.watchList-header-dot-button {
  border: none;
  background-color: transparent;
  transition: background 0.4s ease-in-out;
}

.watchList-header-dot-button:hover {
  background-color: #eeeeee;
}



.watchlist {
  border-radius: 5px;
  border-color: rgba(59, 59, 59, 0.89);
  width: 25rem;
  min-width: 25rem;
  padding: 1rem;



}

.watchlist-card {
  border-width: 1px;
  padding-top: 1%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.symbol-font {
  font-weight: bolder;
  font-size: 1.2rem;
}

.card-price {
  font-size: 1.2rem;
}

.cumulative-returns-buttons {
  border: none;
  outline: none;
  background-color: transparent;

  border-bottom: #66ddb8;
}

/* #f9b6a7 red */

.crb {
  text-decoration: none;
  color: #666565;
}

.button-container ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.tab {
  padding: 10px;
}

.tabactive::after {
  background-color: #66ddb8;
  border-radius: 4px 4px 0 0;
  content: "";
  display: block;
  margin-top: black10px;
  height: 4px;
}
.tabactive > a {
  color: #66ddb8;
}

.news-card {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 150px;
  padding: 10px;
  display: flex;
}

.news-card:hover {
  background-color: #fafafa;
}

.news-card-photo {
  display: inline-block;
  width:100px;
}

.img-news {
  border-radius: 4px;
  height: 100%;
}
.text-news {
  padding: 0 10px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.news-header {
  font-weight: bold;
  display: block;
  font-size: 1.1rem;
}

.news-company {
  font-size: 0.9rem;
  font-weight: bold;
  padding-bottom: 15px;
}

/* toggle css */

input[type=checkbox]{
	visibility: hidden;
}

.round-toggle {
  border-radius: 100px;
  cursor: pointer;
  background-color: #000000d0;
  width: 75px;
  height: 33px;

  /* position */
  position: absolute;
}

  /* the toggle ball */
.round-toggle:after {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 100px;
  background-color: white;

  /* its positioning  */
  position: absolute;
  top: 3px;
  left: 6px;
  transition: .4s;
}

input:checked + .round-toggle {
  background-color: #66ddb8;
}

input:checked + .round-toggle:after
 {
  transform: translate(37px);
  background-color: white;
}

.text-toggle {
    /* its positioning  */
    position: absolute;
    left: 95px;
    white-space: nowrap;
}

.center-toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  left: 25%;
}

.separate-toggle-box {
  height: 64px;
}

.search-result-card {
  height: 50px;
  display: flex;
  justify-content: space-around;
  /* width: 52%; */
  border-radius: 4px;
  /* border-width: 2.2px; */
  align-items: center;
  /* max-width: 15%; */
  background-color: #ffffff;
}

.search-result-card:hover {
  background-color: rgba(211, 211, 211, 1) ;
  cursor: pointer;
}

.search-results {
  position: fixed;
  position: fixed;
  left: 8%;
  width: 17%;
  /* margin-left: auto;
  margin-right: auto;
  max-width: 1500px; */
}